<div class="google-ads search">
  <div class="gcse-search" id="gcse-search-container"></div>
  <script>
    var gcseObserver = new IntersectionObserver(function (entries) {
      if (entries[0].isIntersecting) {
        var s = document.createElement('script');
        s.async = true;
        s.src = 'https://cse.google.com/cse.js?cx=4bfccb6ab5f1b47b5';
        document.head.appendChild(s);
        gcseObserver.disconnect();
      }
    }, { rootMargin: '300px' });
    gcseObserver.observe(document.getElementById('gcse-search-container'));
  </script>
</div>
