<div id="comments" class="mt-5">
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = "{{site.disqus}}";
    var disqusLoaded = false;
    function loadDisqus() {
      if (disqusLoaded) return;
      disqusLoaded = true;
      var dsq = document.createElement("script");
      dsq.async = true;
      dsq.src = "https://" + disqus_shortname + ".disqus.com/embed.js";
      document.head.appendChild(dsq);
    }
    // Load when user scrolls near comments
    var observer = new IntersectionObserver(function (entries) {
      if (entries[0].isIntersecting) {
        loadDisqus();
        observer.disconnect();
      }
    }, { rootMargin: "200px" });
    observer.observe(document.getElementById("disqus_thread"));
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</div>
