<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "{{ site.name }}",
    "url": "https://spemer.github.io",
    "sameAs": [
      "https://www.instagram.com/spemer",
      "https://www.youtube.com/user/OfficialSpemer",
      "https://www.linkedin.com/in/hyouk-seo-0b6801122/",
      "https://www.facebook.com/ghsspower",
      "https://twitter.com/OfficialSpemer",
      "https://linktr.ee/spemer",
      "https://github.com/spemer"
    ]
  }
</script>
