<div class="mb-5 d-flex justify-content-between main-loop-card">
  <div class="pr-3">
    <h2 class="mb-1 h4 font-weight-bold">
      <a class="text-dark" href="{{site.baseurl}}{{post.url}}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="excerpt">
      {{ post.excerpt | strip_html | strip_newlines | truncate: 186}}
    </p>
    <small class="d-block text-muted">
      In
      <span class="catlist">
        {% for category in post.categories %}
        <a
          class="text-capitalize text-muted smoothscroll"
          href="{{site.baseurl}}/categories/{{ category }}/"
          >{{ category }}</a
        ><span class="sep">, </span>
        {% endfor %}
      </span>
    </small>
    <small class="text-muted"> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %d, %Y' }}</time> </small>
  </div>
  {% if post.image %}
  <div class="col-md-3 pr-0 text-right">
    <a href="{{site.baseurl}}{{post.url}}">
      <img loading="lazy" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{% assign _img_first = post.image | slice: 0 %}{% if _img_first == '/' %}{{ site.baseurl }}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}{% endif %}" alt="{{
      post.title }}" width="300" height="158" style="width:100%;aspect-ratio:1200/630;object-fit:cover;border-radius:4px;">
    </a>
  </div>
  {% endif %}
</div>
