<!--  Replace menu links here -->
<li class="nav-item">
  <a
    rel="noopener noreferrer"
    target="_blank"
    class="nav-link"
    href="https://spemer.com/"
    >🎨Portfolio</a
  >
</li>
<li class="nav-item">
  <a
    rel="noopener noreferrer"
    target="_blank"
    class="nav-link"
    href="https://github.com/spemer"
    >⚙️GitHub</a
  >
</li>
<li class="nav-item">
  <a
    rel="noopener noreferrer"
    target="_blank"
    class="nav-link"
    href="https://www.instagram.com/spemer/"
    >📸Instagram</a
  >
</li>
<li class="nav-item">
  <a
    rel="noopener noreferrer"
    target="_blank"
    class="nav-link"
    href="https://medium.com/@spemer"
    >✍️Medium</a
  >
</li>
<li class="nav-item">
  <a
    rel="noopener noreferrer"
    target="_blank"
    class="nav-link"
    href="https://www.youtube.com/user/OfficialSpemer"
    >🎞️YouTube</a
  >
</li>
