<!-- Disallow Naver & Daum crawler -->
<meta name="Naverbot" content="noindex, nofollow, noarchive" />
<meta name="Yeti" content="noindex, nofollow, noarchive" />
<meta name="Daumoa" content="noindex, nofollow, noarchive" />
<meta name="Zumbot" content="noindex, nofollow, noarchive" />
<meta name="Bingbot" content="noindex, nofollow, noarchive" />
<meta name="Yandex" content="noindex, nofollow, noarchive" />
<meta name="DuckDuckBot" content="noindex, nofollow, noarchive" />
<meta name="Baiduspider" content="noindex, nofollow, noarchive" />
<meta name="Slurp" content="noindex, nofollow, noarchive" />

<!-- Allow Googlebot -->
<meta name="Googlebot" content="index, follow" />
