<!-- Social related meta tags -->
<meta name="twitter:site" content="@OfficialSpemer" />
<meta name="twitter:creator" content="@OfficialSpemer" />
<meta name="twitter:description" content="{{ page.title }}" />
<meta name="twitter:image:alt" content="{{ page.title }}" />

<meta property="og:type" content="article" />
<meta property="og:image:alt" content="{{ page.title }}" />
<meta property="og:locale" content="ko_KR" />

{% if page.image %}
<meta name="twitter:image" content="{{ page.image }}" />
<meta name="twitter:image:src" content="{{ page.image }}" />
{% endif %}
