<!-- This goes before </head> closing tag, Google Analytics can be placed here -->

<!-- Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "{{ site.google-analytics }}");
</script>

<!-- Google AdSense -->
<script
  data-ad-client="ca-pub-3627439872518903"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
