.article-post figure figcaption {
  font-size: 16px;
  margin-top: -24px;
  text-align: center;
  opacity: 0.54;
}

.nav-item a {
  color: rgba(0, 0, 0, 0.87) !important;
}

/* Profile section */
.site-content .row.mt-5 {
  margin-top: 96px !important;
}

/* Embed videos */
article.article-post iframe[allowfullscreen] {
  width: 100% !important;
  max-width: 100% !important;
  max-height: 410px !important;
}

@media screen and (max-width: 420px) {
  article.article-post iframe[allowfullscreen] {
    max-height: 320px !important;
  }
}

@media screen and (max-width: 375px) {
  article.article-post iframe[allowfullscreen] {
    max-height: 280px !important;
  }
}

/* Google AdSense */
.google-ads {
  padding-top: 48px !important;
  padding-bottom: 64px !important;
}

/* Next/Previous posting */
.nextprev {
  width: 100%;
  padding: 64px 0 32px;
}

.nextprev .next::before {
  content: "다음 글: ";
}

.nextprev .prev::before {
  content: "이전 글: ";
}

.nextprev .next,
.nextprev .prev {
  padding: 8px 0;
}

code.language-plaintext.highlighter-rouge {
  background-color: #eee;
  padding: 0 4px;
}

/* Follow button */
a.btn.btn-outline-success.btn-sm.btn-round.ml-2,
a.btn.btn-outline-success.btn-sm.btn-round.ml-1 {
  font-weight: 700;
  border-width: 2px;
  padding: 0.2rem 0.7rem;
}

/* Bolder link */
.markdown-link {
  font-weight: 700;
}

/* Additional padding */
main article.article-post {
  padding-bottom: 64px;
}

main article.article-post p img,
main article.article-post iframe {
  margin: 32px 0;
}

main article.article-post hr {
  margin: 64px 0;
}

.col-md-10 h3.font-weight-bold {
  font-size: 21px;
}
