<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include tracking-ga.html %}

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% seo %}

    <meta
      name="google-site-verification"
      content="vceGUL0YSQHRaQfOUAckEH-473T4Oz9w9d0uGvOkBLs"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{site.baseurl}}/{{site.favicon}}"
    />
    <meta name="theme-color" content="#fff" />

    {% include google-adsense.html %} {% include tracking-header.html %} {%
    include meta-robots.html %} {% include meta-social.html %} {% include
    json-ld.html %}

    <!-- Previous/Next posting -->
    {% if page.previous.url %}
    <link
      rel="prev"
      href="{{page.previous.url}}"
      title="{{page.previous.title}}"
    />
    {% endif %} {% if page.next.url %}
    <link rel="next" href="{{page.next.url}}" title="{{page.next.title}}" />
    {% endif %}

    <meta name="author" content="Spemer(Hyouk Seo)" />

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css" />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css" />

    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="{% if page.url == '/' %} homefirstpage {% endif %}">
    <!-- Navbar -->
    <nav
      id="MagicMenu"
      class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="/"><strong>{{site.name}}</strong></a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto d-flex align-items-center">
            {% include menu-header.html %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <main role="main" class="site-content">{{ content }}</main>

    <!-- Scripts: bootstrap, theme -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <script src="{{site.baseurl}}/assets/js/theme.js"></script>

    <!-- Footer -->
    <footer class="bg-white border-top p-3 text-muted small">
      <div class="container">
        <div class="ads-search">{% include ads-search.html %}</div>
        <div class="row align-items-center justify-content-between">
          <div>
            <span
              >Copyright ©️
              <script>
                document.write(new Date().getFullYear());
              </script>
              <b>Spemer(Hyouk Seo)</b></span
            >
          </div>
          <div>
            <img
              alt="Hits counter"
              title="Hits counter"
              src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fspemer.github.io&count_bg=%230FBC8E&title_bg=%23000000&icon=&icon_color=%23FFFFFF&title=hits&edge_flat=false"
            />
          </div>
          <div>
            Checkout my
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="text-dark font-weight-bold"
              href="https://linktr.ee/spemer"
              >🔗Linktree</a
            >
            links!
          </div>
        </div>
      </div>
    </footer>

    {% include tracking-footer.html %}
  </body>
</html>
